.new-tag {
    background-color: #d8d50d; 
  }
  
  .weapons-tag {
    background-color: #03778b; 
  }
  
  .rarity-tag {
    background-color: #463d8a; 
  }
  
  .tag {
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: white; 
  }

  .tags{
    margin-top: 10px;
    margin-left: 5px;
  }
  
.all-articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .one-article {
    position: relative;
    background-color: rgb(27, 151, 228);
    border-color: black;
    border-width: 5px;
    border-style: solid;
    box-shadow: 0px 0px 20px black;
    color: black;
    margin: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: all 0.3s linear;
    cursor: pointer;
    max-width: 400px;
    height: 400px;
  }
  
  .one-article img {
    height: 225px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .one-article h2{
    margin-top: 5px;
    font-size: 25px;
  }
  .one-article p{
    font-size: 17px;
  }
  .one-article p,
  .one-article h2 {
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .one-article.hovered {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 0px 20px black;
  }
  
  .created-date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }

  @media (max-width: 1000px) {

    .one-article {
      display: none; 
    }
  
    .one-article:nth-child(-n + 3) {
      display: flex; 
    }
  }