
.bar-opener {
  position: relative;
  z-index: 2;
}

.bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  cursor: pointer;
  padding: 10px;
  background-color: #463d8a;
  color: white;
  transition: background-color 0.5s ease;
}

.bar-icon:hover {
  background-color: #555;
}

.expand-icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.bar-opener.open .expand-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.bar-content {
  position: absolute;
  text-align: center;
  top: 110%;
  left: 30%;
  width: 40%;
  border-radius: 20px;
  padding: 10px;
  background-color: gainsboro;
  color: #333;
}

.bar-opener.open .bar-content {
  max-height: 200px;
  transition: max-height 0.3s ease;
}
